# Node / React
node_modules/
dist/
.DS_Store

# PyInstaller Build
build/
*.spec

# Rust / Tauri / Binaries
src-tauri/target/
src-tauri/gen/
src-tauri/bin/

# Python
backend/venv/
__pycache__/
*.pyc
port.json

# Environment
.env
